{% extends 'base.html' %} {% block head %}
<title>To Do</title>
{%endblock %} {% block body%}
<div class="content">
  <h1 class="text-center">Task Master</h1>
  {% if tasks|length < 1 %}
  <h4 class="text-center">No tasks available. After adding it shows up here</h4>
  {% else %}
  <table class="table table-small">
    <tr class="headers-row">
      <th class="text-center align-middle">Name</th>
      <th class="text-center align-middle">Description</th>
      <th class="text-center align-middle">Created At</th>
      <th class="text-center align-middle">Updated At</th>
      <th class="text-center align-middle">Actions</th>
    </tr>
    {% for task in tasks %}
    <tr class="data-row">
      <td>{{task.name}}</td>
      <td>{{task.content}}</td>
      <td>{{task.date_created.replace( microsecond=False)}}</td>
      <td>{{task.updated_at.replace( microsecond=False)}}</td>
      <td class="actions">
        <a href="/delete/{{task.id}}">Delete</a>
        <a href="/update/{{task.id}}">Update</a>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  <div class="container center_div">
    <form action="/" method="post">
      <div class="form-outline mb-4">
        <input
          type="text"
          name="name"
          id="name"
          class="form-control"
          placeholder="Name for your task"
        />
      </div>
      <div class="form-outline mb-4">
        <input
          type="text"
          name="content"
          id="content"
          class="form-control"
          placeholder="Content for your task"
        />
      </div>
      <div class="form-outline mb-4 text-center">
        <input type="submit" value="Add Task" class="btn btn-secondary" />
      </div>
    </form>
  </div>
</div>

{%endblock %}
